.end-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #301C00;
}

.finished {
  font-family: 'Montserrat', sans-serif;
}

.end-screen-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.start-over {
  background: #2F6B3A;
  border-radius: 25%;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
  margin-bottom: 30px;
}

.review-link {
  text-decoration: none;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #301C00;
  border-radius: 25%;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  border: none;
  margin-bottom: 30px;
}

hr {
  width: 50%;
}

.review-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #EDE6E3;
  padding-left: 0px;
  padding: 20px;
  border-radius: 4px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 100px;
  color: #301C00;
}

.review-question {
  font-weight: bold;
}

.review-answer {
  color: #2F6B3A;
  font-weight: bold;
  font-style: italic;
}
