
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.greeting {
  text-shadow: 1px 1px 1px #38230A;
  font-size: 22px;
}

.logout > a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  background: #2F6B3A;
  border-radius: 25%;
  padding: 10px;
  box-shadow: 3px 3px 3px #38230A;
}

